/* HEADER */

.col-right{
  justify-content: flex-end;
}

.form-control{
  width: 100px;
  margin-right: 20px;
}

.logo img{
  width: 80px;
}

.logo h3{
  display: inline-block;
}
/* /HEADER */

/* MAIN */

.ir-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(2, 83, 121);
  height: calc(100vh - 160px);
}

.field{
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
}

.square-100{    
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  width: calc(100% / 10);
  height: calc(100% / 10);
  color: white;
}  

.square-81{    
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  width: calc(100% / 9);
  height: calc(100% / 9);
  color: white;
} 

.square-49{    
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  width: calc(100% / 7);
  height: calc(100% / 7);
  color: white;
} 

.square-100 span,
.square-81 span,
.square-49 span{
  display: none;
}

.square-100.clicked span,
.square-81.clicked span,
.square-49.clicked span{
  display: block;
}

.square-100.clicked.even,
.square-81.clicked.even,
.square-49.clicked.even{
  background-color: rgb(0, 195, 255);
}

.square-100.clicked.odd,c
ed.square-81.clicked.odd,
.square-49.clicked.odd{
  background-color: rgb(206, 65, 22);
}
/* /MAIN */

/* FOOTER */

.foot h6{
  padding-top: 30px;
}
.foot span{
  text-decoration: underline;
  color: blue;
}
/* /FOOTER*/
